body {
  background: #fdfdfd;
}

.menu-link {
  color: #212529;
}

.menu-link:hover {
  text-decoration: none;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}

.card-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.image-container:hover .cover {
  opacity: 1;
}

.cover {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.add-button {
  border: none;
  outline: none;
  background-color: inherit;
  color: #fff;
}

.card-img--height {
  height: 180px;
  object-fit: cover;
}

.invalid-feedback {
  display: block;
}

.movieDetailsBackground {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover
}
